<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>connecxion</title>
</head>
<body>
<center>
<h1>Connexion</h1>
<form method="POST">
    {% csrf_token  %}
    <p>
        <label for="un">Username : </label>
        <input type="text" name="username" id="un" required>
        </p>
    <p>
        <label for="pw">Password : </label>
        <input type="password" name="password" id="pw" required>

    </p>
    <button type="submit">connecter</button>
    <button type="button"><a href="{% url 'index'  %}">retour</a></button>
    <button>    <a style="text-decoration:none; color:red;" href="{% url 'signup' %}"> s'inscrire </a></button>
      <button type="reset"> supprimer </button>
</form>
</center>
</body>
</html>